@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');

:root {
    --text-color: #F5F3F4;
    --text-enfasis: #ff0000;
    --bg-dark-color: #0B090A;
    --bg-grey-color: #161A1D;
    --bg-light-color: #B1A7A6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Onest", sans-serif;
}

body {
    display: grid;
    /* todo GRID-CONFIG para mantener siempre el FOOTER al final de la pagina. */
    min-height: 100dvh;
    /* todo GRID-CONFIG para mantener siempre el FOOTER al final de la pagina. */
    grid-template-rows: auto 1fr auto;
    /* todo GRID-CONFIG para mantener siempre el FOOTER al final de la pagina. */


    color: var(--text-color);
    background-color: var(--bg-light-color);
}

header {
    display: flex;
    flex-direction: column;

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: var(--bg-grey-color);

        padding: 20px;
        /* border: thin solid yellow; */
        text-align: center;

        p {
            width: 400px;
            padding: 20px;

            font-size: 1.2em;
            font-weight: 500;
            font-family: -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                "Helvetica Neue",
                Arial,
                "Noto Sans",
                sans-serif,
                "Apple Color Emoji",
                "Segoe UI Emoji",
                "Segoe UI Symbol",
                "Noto Color Emoji";

            background: #ff00000c;
            background-image: url(./media/az-logo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: lighten;
            background-color: #cd000050;

            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(0px);
            -webkit-backdrop-filter: blur(0px);
            border: 1px solid rgba(255, 255, 255, 0.20);
            color: var(--text-color);
        }
    }

    .navbar {
        background-color: black;
        /* border: thin solid red; */
        margin-top: 40px;
        padding: 18px;
        text-align: center;
        margin: 0px 0px 0px 0px;

        a {
            padding: 0px 20px 0px;
            color: var(--text-color);
        }
    }
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background-image: url(/media/bg-container.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-dark-color);
    background-blend-mode: luminosity;

    .grilla {
        /* border: thin solid yellow; */
        display: grid;
        padding: 90px;
        gap: 50px;
        grid:
            "hero hero" 1fr "panel-registro panel-filosofia" 1fr / 1fr 1fr;
    }

    .hero {
        grid-area: hero;
        border: thin solid yellow;
        padding: 40px;
        border-radius: 20px;

        background: rgba(248, 5, 5, 0.253);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(0, 0, 0, 0.3);

        background-image: url(./media/az-logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;

        display: flex;
        flex-direction: column;

        .gossip {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            gap: 14px;

            a {
                color: #00ff62;
                background-color: #0b090a98;
                border: 1px solid #00ff620c;
                padding: 10px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 12px;
            }
        }

        p {
            width: 930px;
        }
    }

    .panel-registro {
        grid-area: panel-registro;
        border: thin solid yellow;
        padding: 40px;
        border-radius: 20px;

        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        img {}
    }

    .panel-filosofia {
        grid-area: panel-filosofia;
        border: thin solid yellow;
        padding: 40px;
        border-radius: 20px;

        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}

.about-us {
    background-color: var(--bg-dark-color);
    /* border: thin solid magenta; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: var(--bg-grey-color);
    /* border: thin solid palegreen; */
}
